html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #550a70;
    font-family: Montserrat, sans-serif;
    overflow: scroll;
}

.navigation {
    
    color: white;
    height: 56px;

    animation-name: navegacao;
    animation-duration: 1.5s;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    color: #cc6fee;
}

.navigation ul {
    list-style: none;
    margin-top: 0;
    padding: 0;
    height: 56px;
    text-align: right;
}

.navigation li {
 display: inline-block;
 line-height: 56px;
 padding-left: 30px;
 padding-right: 30px;
 font-weight: 100;
 font-size: 18px;
}

.navigation li.threeline-icon {
    display: none;
}


.capa {
    color: white;
}

.capa span {
    color: #cc6fee;
    display: block;
}

.capa div {
    display: inline-block;
    height: 650px;
}

.profile-pic {
    width: 39%;
    text-align: center;

    animation-name: profile-capa;
    animation-duration: 2s;
}

.profile-pic img {
    border-radius: 152px;
    width: 320px;
    margin-top: 100px;
}

.profile-title {
    vertical-align: top;
    width: 60%;

    animation-name: titulo-capa;
    animation-duration: 2s;
}

.profile-title h1 {
    margin-top: 200px;
    font-size: 58px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 54px;
}

.profile-title h2 {
    margin-top: -26px;
    font-weight: 100;
    font-size: 16px;
}
.main {
    padding: 40px 180px 80px 100px;

    padding-top: 40px;
    padding-right: 180px;
    padding-bottom: 80px;
    padding-left: 100px;
}

.cv-pic {
    float: left;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.main h1 {
    color: white;
    font-size: 32px;
    font-weight: normal;

}

.main h2 {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
}


.main h3 {
    color: #cc6fee;
    font-size: 12px;
}

.main p {
    color: white;
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
    text-align: justify;
}
.main a{
    color: #cc6fee;
    text-decoration:none;

}

.caminho {
    list-style: none;
    color: grey;
    padding-left: 0;
}

.caminho li {
    display: inline-block;
}

.caminho a {
    color: gray;
}

@keyframes profile-capa {
    0% {transform: translate(0px, 20px)}
    100% {transform: translate(0px, 0px)}
}

@keyframes titulo-capa {
    0% {transform: translate(0px, -20px)}
    100% {transform: translate(0px, 0px)}
}

@keyframes navegacao {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@media (max-width: 1000px) {

    .navigation li {
        display: none;
    }

    .navigation li.threeline-icon {
        display: inline-block;
    }

    .capa div {
        display: block;
        height: auto;
    }

    .profile-pic {
        width: 100%;
    }

    .profile-pic img {
        max-width: 75%;
        margin-top: 0;        
    }

    .profile-title {
        
        text-align: center;
        width: 100%;
    }

    .profile-title h1 {
        margin-top: 30px;
        font-size: 36px;
        margin-left:  20px;
        margin-right: 25px;
    }

    .profile-pic h2 {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.menuJs {
    height: auto;
}

.menuJs ul {
    height: auto;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.menuJs li {
    display: block;
    border-bottom: solid grey 1px;
    width: 100%;
    padding: 0;
}
.redes ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.redes ul a {
    display: block;
    padding: 10px;
}

.redes ul li a img {
    max-width: 70px;
    margin: 0; /* Remover a margem ao redor das imagens */
}
.redes ul li a img {
    max-width: 70px;
    margin: 0;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.redes ul li a img:hover {
    transform: scale(1.2); /* Aumenta o tamanho da imagem ao passar o mouse */
}
.projetos {
    padding: 4%;
    display: flex;
}
.img,
.img1 {
    width: 500px;
    height: 500px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.proj li {
    position: relative;

}
.proj img {
    width: 700px;
    height: auto;
    padding: 10px;
}

.proj li:hover img {
    filter: brightness(30%);
}
.proj figcaption {
    cursor: pointer;
    position: absolute;
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    color: whitesmoke;
    background-color: #7a5986;
    font-size: 19px;
    font-weight: lighter;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 12px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.proj li:hover figcaption {
    opacity: 50 ;
}


/* 
.img {
    background-image:url(../img/3.png) ;
}

.img1 {
    background-image: url(../img/2.png);
}

.img:hover .text,
.img1:hover .text1 {
    opacity: 1; 
    box-shadow: #550a70
}

.text1 {
    text-align: center;
    padding: 6.5rem 13.4rem 6rem 12.5rem;
    margin: 0px;
    opacity: 0;
    position: fixed;
    transition: opacity .2s linear;
    background-color: rgba(0, 0, 0, .7);
} */

.btn1, .btn2 {
    background-color: #cc6fee;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px; 
    display: inline-block; 
    font-family: cursive;
}

.btn1:hover, .btn2:hover {
    background-color: #834599;
}

.imgprojeto-container {
    overflow:visible;
    position: initial;
    width: 100px; 
    height: 100px; 
    margin: 10px; 
}

.imgprojeto {
    display: flex;
    width: 50%; 
    transition: transform 0.2s ease; 
}
.imgprojeto img {
    width: 500px;
    height: 500px;
}
/* Adicione regras de media query para dispositivos com largura máxima de 414 pixels (iPhone XR em modo retrato) */
@media only screen and (max-width: 414px) {

    .main {
        padding: 20px; /* Ajusta o espaçamento dentro da área principal */
    }

    .profile-pic img {
        max-width: 100%; /* Garante que a imagem do perfil se ajuste à largura da tela */
    }

    .profile-title {
        width: 100%;
        text-align: center;
    }

    .profile-title h1 {
        font-size: 28px; /* Reduz o tamanho da fonte do título */
        margin-top: 10px;
    }

    .caminho {
        padding: 10px; /* Ajusta o espaçamento nos itens do caminho */
    }

    .redes {
        text-align: center;
    }

    .redes ul {
        justify-content: center; /* Centraliza as redes sociais */
    }

    .redes ul li {
        margin: 0 10px; /* Adiciona margem entre os ícones das redes sociais */
    }

    .proj li {
        width: 50%; /* Garante que as imagens dos projetos ocupem toda a largura */
    }

    .proj img {
        width: 350px;
    }
    .proj li {
        width: 300px; /* Garante que as imagens dos projetos ocupem toda a largura */
        margin-bottom: 20px; /* Adiciona margem inferior entre os projetos */
    }

    .proj img {
        width:; /* Garante que as imagens ocupem 100% da largura da área do projeto */
        height: ; /* Mantém a proporção original da imagem */
    }
    .proj figcaption {
        font-size: 14px; /* Reduz o tamanho da fonte da legenda */
    }
    .imgprojeto img {
        width: 250px;
        height: 250px;
    }
}